
.container {}
.container .game {
	background: url("../images/wall.png") repeat scroll 0 0 transparent;
	height: 450px;
	margin: 25px auto;
	overflow: auto;
	width: 450px;
}
.container .game .world {
	background: url("../images/floor.png") repeat scroll 0 0 transparent;
	height: 390px;
	margin: 30px;
	position: relative;
	width: 390px;
}
.container .game .world .player {
	background: url("../images/p1.png") no-repeat scroll 0 0 transparent;
	height: 40px;
	left: 0;
	margin: -25px 0 0 -15px;
	position: absolute;
	top: 0;
	width: 30px;
}
.container .game .world .player.face-north { background-position: 0 0; }
.container .game .world .player.face-east { background-position: -30px 0; }
.container .game .world .player.face-south { background-position: -60px 0; }
.container .game .world .player.face-west { background-position: -90px 0; }

.box {
	left: 0;
	position: absolute;
	top: 0;
}
.box.wall {
	background: url("../images/wall.png") no-repeat scroll 0 0 transparent;
}
.box.crate {
	background: url("../images/crate.png") no-repeat scroll 0 0 transparent;
}



/* DEBUG CSS */

.debug-framerate {
	font-size: 40px;
	left: 10px;
	position: absolute;
	top: 10px;
}
